# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=anexo_de_datos

# Flask
FLASK_ENV=development
FLASK_DEBUG=True
SECRET_KEY=change_this_secret

# SMTP
SMTP_SERVER=smtp.example.com
SMTP_PORT=587
EMAIL_CUENTA=
EMAIL_PASSWORD=